p{
    margin: 10px 0 !important;
}

/* login form */
.login-container {
    width: 400px;
    margin-top: 50px ;
    text-align: center;
}
.login-container .auth-form-container{
    margin-top: 50px;
}
.login-container .auth-form-container .input-field{
    padding-bottom : 10px;
 }
