.details-page {
    font-weight: initial;
    margin-top: -1.2em;
}

.details-other {
    padding: 110px 30px 20px;
}

.details-room-images {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 450px;
}

.room-img-1, .room-img-2,
.room-img-3, .room-img-4,
.room-img-5 {
    border-radius: 12px;
}


.room-img-1 {
    grid-area: 1 / 1 / 5 / 5;
}
.room-img-2 {
    grid-area: 1 / 5 / 3 / 7;
}
.room-img-3 {
    grid-area: 1 / 7 / 3 / 9;
}
.room-img-4 {
    grid-area: 3 / 5 / 5 / 7;
}
.room-img-5 {
    grid-area: 3 / 7 / 5 / 9;
    text-align: center;
}

.room-img-5 p {
    color: #9A9A9A;
    font-weight: bold;
    margin: 30% 25%;
}

.room-img img {
    height: 100%;
    width: 100%;
}

.details-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.details-title {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.details-left {
    width: 600px;
}

.details-title-left {
    line-height: 0.5em;
}

.details-title-left h2, .room-description h3,
.offered-details h3, .safety-hygiene h3 {
    font-size: 1.5em;
    font-weight: bold;
}

.details-title-left h2,
.room-description h3,
.offered-details h3,
.safety-hygiene h3 {
    color: #0aee63e8;
}

.details-title-left p {
    color: #9A9A9A;
    font-size: 0.8em;
}

.details-pieces {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    text-align: center;
}

.details-pieces .piece {
    align-items: center;
    background-color: #0FE18B;
    border-radius: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    font-weight: bold;
    padding: 25px 20px;
    width: 140px;
}

.details-pieces .piece span {
    color: #e1b60f;
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 0.3em;
}

.piece img {
    height: 30px;
    width: 30px;
}

.room-description, .offered-details {
    margin-bottom: 40px;
}

.room-description p {
    font-size: 0.8em;
}

.offered-details .offered-icons, 
.offered-icons .offered {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-right: 2em;
}

.offered img {
    margin-right: 0.5em;
    margin-top: -1em;
}

.safety {
    align-items: center;
    display: flex;
}

.safety img {
    height: 30px;
    margin-right: 1em;
    margin-top: -1em;
    width: 30px;
}

.details-right {
    border-radius: 20px;
    box-shadow: 5px 10px 15px 10px #d3caca;
    display: inline-block;
    height: max-content;
    padding: 20px;
    width: 300px;
}

.details-right h2 {
    color: #fff;
    background: #0FE18B;
    border-radius: 20px;
    font-size: 1em;
    font-weight: bold;
    padding: 8px 10px;
    text-align: center;
}

.details-right p {
    color: #756767;
    font-size: 1em;
}

.details-right .btn-reserve {
    background-color: #0FB0E1;
    border-radius: 40px;
    color: white;
    cursor: pointer;
    margin-top: 2em;
    padding: 20px;
    text-align: center;
}

.details-right .btn-reserve:hover {
    opacity: 0.7;
}

.btn-reserve a {
    font-weight: bold;
    text-decoration: none;
}

.call { 
    margin-top: 1.5em;
}

.call a {
    align-items: center;
    color: #756767;
    display: flex;
    justify-content: right;
    text-decoration: none;
}

.reserve-modal {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 5px #0FE18B;
    left: 50%; 
    padding: 20px 30px;
    position: absolute;
    top: 40em;
    transform: translate(-50%, -50%);
    width: 75%;
    z-index: 1;
}

.reserve-modal .btn-close {
    color: white !important;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 0;
}

.modal-room-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.reserve-content {
    color: #484848;
}

.details-right p span,
.reserve-content h5 .price,
.reserve-modal p .price,
.total-cost .price {
    color: #FFD700;
    font-weight: bold;
    font-size: 1em;
    margin-left: 1em;
}

.check-room-forms {
    align-items: center;
    background-color: #FFFFFF;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}

.check-room-forms div input {
    font-size: small;
}

.check-in-container input {
    margin-right: 1em;
}

.details-love {
    position: relative;
}

.details-love img {
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 0px;
    width: 30px;
    z-index: 1;
}

.details-love img:hover {
    height: 35px;
    width: 35px;
}

@media (width <= 875px) {
    .modal-content-left img {
        width: 220px;
    }
    .check-room-forms {
        flex-wrap: wrap;
    }
    .details-room-images {
        display: flex;
        flex-wrap: wrap;
    }
    .room-img-1,
    .room-img-2,
    .room-img-3,
    .room-img-4 {
        height: 150px;
        width: 150px;
    }
    .room-img-5 {
        height: 100px;
    }
    .details-other {
        padding: 20px 25px;
    }
    .details-pieces .piece {
        margin-top: 1em;
    }
}