{{> modal}}
<div class="rooms">

    <div class="rooms-content">
        <div class="rooms-content-left">
            <h1>Rooms</h1>
            
        </div>
        <div class="rooms-content-right">
            <button data-target="modal1" class=" btn modal-trigger">+</button>
        </div>
    </div>
    <div class="rooms-list">
        
        <table class="responsive-table highlight">

            <thead>
                <tr>
                    <th>Nb guests max</th>
                    <th>Room number</th>
                    <th>Room description</th>
                    <th>Rent</th>
                    <th>Availability</th>
                    <th>Booked by</th>
                </tr>
            </thead>

            <tbody>
                {{#each data}}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {{/each}}
            </tbody>

      </table>
    </div>

    {{#each data}}
        <p>{{description}}</p>
        {{#each img}}
        <img src={{this}} alt="image" />
        {{/each}}
    {{/each}}
</div>