footer {
    background-color: #0FE18B;
    color: white;
    font-weight: initial;
    padding: 40px 20px 20px 20px;
}

.footer-links, .button-links, 
.links-right, .copyright {
    display: flex;
}

.links-left, .links-right div {
    margin-right: 3em;
}

.links-right {
    position: relative;
    right: -5em;
    top: 0.4em;
}

.links-right div h2 {
    font-size: 1.2em;
    font-weight: bold;
}

.social-networks-icons img {
    margin-right: 1.2em;
}

.footer-links div a {
    color: white;
    cursor: pointer;
    line-height: 2em;
    text-decoration: none;
}

.button-links a img {
    position: relative;
    top: -2px;
    right: 5px;
}

.button-links a {
    background-color: #63E6B1;
    border-radius: 12px;
    color: #484848 !important;
    font-weight: bold;
    margin-right: 1.5em;
    padding: 12px 16px 16px 18px;
    text-decoration: none;
}

hr {
    color: white;
}

.copyright {
    justify-content: space-between;
}

.contact-links a {
    color: #ffef00 !important;
    font-weight: bold;
}

@media (width <= 1100px) {
    .footer-links {
        display: block;
    }
    .links-right {
        flex-wrap: wrap;
        margin-left: -75px;
    }
}