.rooms-available {
    padding: 20px;
}

.rooms-available-title {
    padding: 20px;
}

.rooms-available-title h2 {
    color: #484848;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.rooms-available-title h2::after {
    border-bottom: 5px solid #0FE18B;
    content: '';
    display: block;
    margin: 5px auto;
    width: 120px;
}

.card-room-container {
    transition: transform .6s;
}

.card-room-container:hover {
    cursor: pointer;
    -ms-transform: scale(1.1); /* IE 9 */
    transform: scale(1.1); 
    -webkit-transform: scale(1.1); /* Safari 3-8 */
}

.cards-rooms-available {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-room {
    height: 300px;
    width: 330px;
    margin-bottom: 130px;
}

.card-room-top, .card-room-top .room-picture {
    height: 300px;
    width: 330px;
}

.card-room-top {
    position: relative;
}

.card-room-top .room-picture {
    position: absolute;
}

.card-room-top .love-icon {
    position: absolute;
    right: 10px;
    top: 5px;
}

.price h4 {
    font-size: 1em;
    font-weight: bold;
}

.room-price {
    align-items: center;
    background-color: #f02f2fc9;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    position: relative;
    top: 85%;
    width: 100%;
}

.room-title {
    line-height: 2px;
}

.room-title h4 {
    color: #484848;
    font-size: 1em;
    font-weight: bold;
    margin-top: 0.5em;
}

.room-title p {
    color: #9A9A9A;
    font-size: 0.8em;
}

.pieces, .pieces div {
    align-items: center;
    display: flex;
    opacity: 0.9;
}

.pieces div span {
    margin-left: 5px;
    margin-right: 20px;
}

.rooms-available .text-verify {
    color: #0FE18B;
    text-align: center;
}

/* Responsive */
@media (width <= 700px) {
    .cards-rooms-available .card-room {
        flex-wrap: wrap;
    } 
}