/*--------- display flex --------- */
.navbar-chingu, .nav-right ul {
    display: flex;
}
/* ------------------ */

.navbar-chingu {
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 1.2em;
}

.nav-right ul li {
    list-style: none;
}

.nav-right .nav-links li a {
    color: white;
    cursor: pointer;
    margin-right: 2em;
    text-decoration: none;
}

.nav-right .nav-links {
    margin-top: 20px;
}

/* Link hover */
.nav-right .nav-links li a:hover {
    color: white;
    opacity: 0.8;
    text-decoration: underline 2px;
}

.nav-right .nav-links li .nav-auth:hover {
    opacity: 0.7;
    text-decoration: none;
}
/* ------------------ */
/* Hamburger menu */
.nav-right .nav-links .menu-hamburger {
    display: none;
}

.nav-right .nav-links .menu-hamburger a img {
    height: 30px;
    margin-top: 6px;
    width: 30px;
}

/* RESPONSIVE */
@media (width <= 600px) {
    /* MENU */
    .nav-right .nav-links li {
        display: none;
    }
    .nav-right .nav-links .menu-hamburger {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    .responsive {
        background-color: #0FE18B;
        position: absolute;
        margin-right: -11em;
        padding: 0 20px;
        top: 0;
    }
    .responsive .nav-links {
        padding: 0;
    }
    .responsive .nav-links li a {
        margin-right: 0 !important;
    }
    .responsive .nav-links,
    .responsive .nav-links li {
        display: block;
        float: none;
        text-align: left;
    }
    .responsive .nav-links div .nav-auth {
        background-color: transparent;
        padding: 0;
    }
}