/*--------- display flex --------- */
.navbar-other-pages, .nav-right ul {
    display: flex;
}
/* ------------------ */

.navbar-other-pages {
    align-items: center;
    background-color: #0FE18B;
    justify-content: space-around;
    margin-bottom: 2em;
    padding: 8px;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-right ul li {
    list-style: none;
}

.nav-right ul li a {
    color: white;
    margin-right: 2em;
    text-decoration: none;
}

/* Link hover */
.nav-right ul li a:hover {
    text-decoration: underline 2px;
}

.nav-right ul li .nav-auth:hover {
    opacity: 0.7;
    text-decoration: none;
}
/* ------------------ */