.main-content-homepage {
    background-image: url('../../assets/images/banners-homepage.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 647px;
    position: relative;
}

.find-room-container {
    left: 20%;
    position: relative;
    top: 30%;
    max-width: 590px;
}

.find-room-text {
    align-items: center;
    display: flex;
}

.find-room-text .find-room-title {
    color: #0FE18B;
    font-size: 2.2em;
    font-weight: bold;
    margin: 0 0.5em;
    text-transform: uppercase;
}

.find-room-text .find-room-paragraph {
    color: white;
    font-weight: bold;
    margin-top: 16px;
}

.find-room-text .find-room-paragraph::after {
    border-bottom: 3px solid #ffffff;
    content: '';
    display: block;
    width: 32px;
}

.find-room-forms {
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50px;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    padding: 5px 60px;
    padding-bottom: 18px;
    width: 675px;
}

.find-room-forms div input {
    margin-right: 2em;
}

.btn-search-container .btn-search {
    background: none;
    border: none;
	color: inherit;
	cursor: pointer;
    margin-top: 12px;
}

.btn-search-container .btn-search img {
    height: 65px;
    width: 65px;
}

.calendar-text-add {
    color: #0FE18B;
    cursor: pointer;
    margin-right: 4em;
}

.btn-search-container .btn-search:hover, .calendar-text-add:hover {
    opacity: 0.7;
}

.rooms-available-title {
    padding: 20px 0;
}

/* Animate text */
.drop-main h2 {
    display: flex;
    font-family: "Russo One", sans-serif;
    font-size: 1.2em;
    justify-content: center;
    margin: 1.5rem;
}

.d {
    animation: drop 0.4s linear forwards;
    color: #00ffff;
    opacity: 0;
}

.r {
    animation: drop 0.4s linear forwards 0.2s;
    color: #99ffff;
    opacity: 0;
}

.o {
    animation: drop 0.4s linear forwards 0.4s;
    color: #ccffff;
    opacity: 0;
}

.p {
    animation: drop 0.4s linear forwards 0.6s;
    color: #ffffff;
    opacity: 0;
}

.s {
    animation: drop 0.4s linear forwards 0.8s;
    color: #de4040;
    opacity: 0;
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }
    50% {
        opacity: 1;
        transform: translateY(0px);
    }
    65% {
        opacity: 1;
        transform: translateY(-17px);
    }
    75% {
        opacity: 1;
        transform: translateY(-22px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.wrapper.two {
    font-family: "Play", sans-serif;
}
.neon p {
    animation: neon 1s ease infinite;
    margin: 1rem auto;
}

@keyframes neon {
    0%,
    100% {
        color: #f5efcb;
        text-shadow: 0 0 10px #0FE18B, 0 0 20px #00ffff;
    }
    50% {
        text-shadow: 0 0 2px #0FE18B, 0 0 5px #00ffff;
    }
}


/* RESPONSIVE */
@media (width <= 800px) {
    .find-room-forms {
        display: block;
        text-align: center;
        width: 250px;
    }
    .find-room-forms div p {
        margin-bottom: 0;
    }
    .calendar-text-add {
        margin-right: 0;
    }
}