.main-content-homepage {
    background-image: url('../../assets/images/banners-homepage.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 647px;
    position: relative;
}

.find-room-container {
    left: 20%;
    position: absolute;
    top: 50%;
}

.find-room-text {
    align-items: center;
    display: flex;
}

.find-room-text .find-room-title {
    color: #0FE18B;
    font-size: 2em;
    margin: 0 0.5em;
    text-transform: uppercase;
}

.find-room-text .find-room-paragraph {
    color: white;
    font-weight: bold;
}

.find-room-text .find-room-paragraph::after {
    border-bottom: 3px solid #ffffff;
    content: '';
    display: block;
    width: 32px;
}

.find-room-forms {
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50px;
    font-size: 1em;
    display: flex;
    padding: 16px 30px;
    padding-bottom: 18px;
}

.find-room-forms div input {
    margin-right: 2em;
}

.btn-search-container .btn-search {
    background: none;
    border: none;
	color: inherit;
	cursor: pointer;
    margin-top: 12px;
}

.btn-search-container .btn-search img {
    height: 65px;
    width: 65px;
}

.calendar-text-add {
    color: #0FE18B;
    cursor: pointer;
    margin-right: 5em;
}

.btn-search-container .btn-search:hover, .calendar-text-add:hover {
    opacity: 0.7;
}
