<h3><i class="fas fa-book-reader"></i>Book Room</h3>
<h4>Log In</h4>
<div class="container  auth-form-container">
    <form action="/auth/login">

    <div class="input-field col s16">
        <input id="email" type="email" name="email" class="validate">
        <label for="email">Email</label>
    </div>
    <div class="input-field col s6">
        <input id="password" type="password"  name="password"  class="validate">
        <label for="password">Password</label>
    </div>
    <button class="waves-effect waves-light btn">Log In</button>
</form>
</div>

