  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <a class="right btn nav-btn-logout" href="/auth/logout">Log out</a>
      <ul id="nav-mobile" class="right nav-item hide-on-med-and-down">
        <li><a href="/room">Room</a></li>
        <li><a href="/client">Client</a></li>
        
        <li></li>
      </ul>
      
    </div>
    
  </nav>