  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/client">Client</a></li>
        <li><a href="#">Components</a></li>
        <li><a href="/auth/logout">Log out</a></li>
      </ul>
    </div>
  </nav>