  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">
          <img src="/img/logo-chingu.png">
        </a>
        <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large btn-menu"><i class="material-icons">menu</i></a>
        <a class="right btn nav-btn-logout" href="/auth/logout">Log out</a>
      
      </div>
      
    </nav>
  </div>
 
  