<ul id="slide-out" class="sidenav">
    <li>
      <div class="user-view">
      
        <span class="admin-logo"><img src="/img/logo-chingu.png"></span>

        <ul>
          <li>
            <a class="user-info">
            <i class="material-icons icon">account_circle</i>
              <span class="white-text user-info">{{user}}</span>
            </a>
          </li>
        
          <li>
            <a class="user-info">
              <i class="material-icons icon">email</i>
              <span class="white-text email-info">{{email}}</span>
            </a>
          </li>
        </ul>
      
      </div>
    </li>
    <li>
      <a href="/room">Room</a>
    </li>
    <li><div class="divider"></div></li>
    <li><a href="/client">Client</a></li>
    <li><div class="divider"></div></li>
    <li><a href="/reservation">Reservation</a></li>
  </ul>
  