.top-rated-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.top-rated-rooms {
    margin-bottom: 2em;
}

.top-rated {
    padding: 0 130px;
}

.top-rated-title {
    padding-bottom: 20px;
}

.top-rated-title h2 { 
    color: #484848;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.top-rated-title h2::after {
    border-bottom: 5px solid #0FE18B;
    content: '';
    display: block;
    margin: 5px auto;
    width: 120px;
}

.top-icons .star-icon {
    position: absolute;
    left: 10px;
    top: 11px;
}

.star-icon .stars img {
    margin-right: 0.5em;
}

.details h4 {
    font-size: 1em;
    font-weight: bold;
}

.room-details {
    background-color: #EDF408B0;;
    border-radius: 14px;
    color: white;
    display: block;
    line-height: 0.2em;
    margin: 0 15px;
    padding: 8px 12px;
    position: relative;
    top: 85%;
}

.room-details .details {
    color: white;
}

.room-information p {
    font-size: 0.8em;
}

@media (width <= 700px) {
    .top-rated-cards {
        flex-wrap: wrap;
    }
    .top-rated-rooms {
        margin-bottom: 2em;
    }
}


 